@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap');
/*Selectores*/
*{
    font-family: 'Roboto',sans-serif;
} 
/* SELECTORES DE ETIQUETAS */
body{
    font-size: 62.5%;
}
svg{
    height: 60px;
    width: 60px;
}
nav div a img{
    width: 120px;
}
/*Selectores de clase*/
.texto-tipografia2{
    font-family: 'Permanent Marker',sans-serif;
    font-size: 1rem;
}
.texto-lobster{
     font-family: 'Lobster',sans-serif;
}
.navegador{
    background-color: greenyellow;
}
.pie{
    background-color: rgb(88, 208, 230);
}
.texto-centrado{
    text-align:center;
}
.texto-derecha{
    text-align:right;
}
.bg-patron{
    background-image: url(../images/backgrounds/bubble.png);
}
.centrarimagen {
    display: block;
    margin: auto;
  }