@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	font-family: 'Roboto Condensed', sans-serif; 
}

/* Fondos colores */
.bg-red{
	background-color: red;
	}

.bg-grey{
	background-color: grey;
	}

.bg-yellow{
	background-color: yellow;
	}

.bg-green{
	background-color: green;
	}

.bg-blue{
	background-color: blue;
	}

.bg-dark{
	background-color:#403E3E;
}
 
.esquina-redonda{
	border-radius: 1rem;
}
.bg-patron{
    background-image: url(../img/backgrounds/bubble.png);
	border-color: red;
	border-width: 2rem;
	border: double;
}

.bg-test{
	border-color: red;
	border-width: 2rem;
	border-radius: 1rem;
	border: dotted 1px deeppink;
}

/*==============================GRIDS ===========================*/

/*Definimos que nuestro contenedor se muestre como GRID */
.grid{
	width:99%;
	display: grid;
}

/*Definimos nuestro templates por áreas --- 3 cols - 3 rows - areas*/
.template-areas{
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 100px 400px 150px;
	grid-template-areas:
	"celda1 celda3 celda5"  
	"celda1 celda4 celda5" 
	"celda2 celda4 celda5";
}

#celda3{
	grid-area: celda3;
}

#celda5{
	grid-area: celda5;
}

#celda1{
	grid-area: celda1;
}

#celda2{
	grid-area: celda2;
}
#celda4{
	grid-area: celda4;
}
/*Posición de los elementos */
.justify-items{
	justify-items: center;
}

.align-items{
	align-items: center;
}

/*Posición del contenido */
.justify-content{
	/* definimos 3 cols de 300px -- height del contenedor en 500px*/
	grid-template-columns: repeat(3,100px);
	height: 500px;
	justify-content: start;
}

	.justify-content div{
		padding: 20px;
		text-align: center;
	}

.align-content{
	align-content: center;
}


/* definimos 3 cols de 200px -- height del contenedor en 500px*/
.column-row-start-end{
	grid-template-columns: repeat(3,200px);
	height: 500px;
}

/* definimos inicio y fin de row y start de una celda*/
.column-row-start-end-item{
	/* grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3; */
	grid-column: 1/3;
	grid-row: 1/3;
}